DotNet/Arvauspeli/obj/Arvauspeli.csproj.nuget.g.props
DotNet/Arvauspeli/obj/Arvauspeli.csproj.nuget.g.targets
DotNet/Arvauspeli/obj/project.assets.json
DotNet/Arvauspeli/obj/project.nuget.cache
DotNet/Arvauspeli/obj/Arvauspeli.csproj.nuget.dgspec.json
DotNet/Arvauspeli/obj/Debug/netcoreapp3.1/Arvauspeli.AssemblyInfo.cs
DotNet/Arvauspeli/obj/Debug/netcoreapp3.1/Arvauspeli.AssemblyInfoInputs.cache
DotNet/Arvauspeli/obj/Debug/netcoreapp3.1/Arvauspeli.assets.cache
DotNet/Arvauspeli/obj/Debug/netcoreapp3.1/Arvauspeli.csproj.CoreCompileInputs.cache
DotNet/Arvauspeli/obj/Debug/netcoreapp3.1/Arvauspeli.csproj.FileListAbsolute.txt
DotNet/Arvauspeli/obj/Debug/netcoreapp3.1/Arvauspeli.csprojAssemblyReference.cache
DotNet/AspNetTesti/bin/Debug/netcoreapp3.1/appsettings.Development.json
DotNet/AspNetTesti/bin/Debug/netcoreapp3.1/appsettings.json
DotNet/AspNetTesti/bin/Debug/netcoreapp3.1/AspNetTesti.deps.json
DotNet/AspNetTesti/bin/Debug/netcoreapp3.1/AspNetTesti.dll
DotNet/AspNetTesti/bin/Debug/netcoreapp3.1/AspNetTesti.exe
DotNet/AspNetTesti/bin/Debug/netcoreapp3.1/AspNetTesti.pdb
DotNet/AspNetTesti/bin/Debug/netcoreapp3.1/AspNetTesti.runtimeconfig.dev.json
DotNet/AspNetTesti/bin/Debug/netcoreapp3.1/AspNetTesti.runtimeconfig.json
DotNet/AspNetTesti/bin/Debug/netcoreapp3.1/AspNetTesti.Views.dll
DotNet/AspNetTesti/bin/Debug/netcoreapp3.1/AspNetTesti.Views.pdb
DotNet/AspNetTesti/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.AssemblyInfo.cs
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.AssemblyInfoInputs.cache
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.assets.cache
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.csproj.CopyComplete
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.csproj.CoreCompileInputs.cache
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.csproj.FileListAbsolute.txt
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.csprojAssemblyReference.cache
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.dll
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.exe
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.genruntimeconfig.cache
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.MvcApplicationPartsAssemblyInfo.cache
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.pdb
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.RazorAssemblyInfo.cache
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.RazorAssemblyInfo.cs
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.RazorCoreGenerate.cache
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.RazorTargetAssemblyInfo.cache
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.RazorTargetAssemblyInfo.cs
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.TagHelpers.input.cache
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.TagHelpers.output.cache
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.Views.dll
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/AspNetTesti.Views.pdb
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/project.razor.json
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/Razor/Views/Home/ToinenSivu.cshtml.g.cs
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/staticwebassets/AspNetTesti.StaticWebAssets.Manifest.cache
DotNet/AspNetTesti/obj/Debug/netcoreapp3.1/staticwebassets/AspNetTesti.StaticWebAssets.xml
DotNet/Arvauspeli/bin/Debug/netcoreapp3.1/Arvauspeli.dll
DotNet/Arvauspeli/bin/Debug/netcoreapp3.1/Arvauspeli.exe
DotNet/Arvauspeli/bin/Debug/netcoreapp3.1/Arvauspeli.pdb
DotNet/Arvauspeli/bin/Debug/netcoreapp3.1/Arvauspeli.runtimeconfig.dev.json
DotNet/Arvauspeli/bin/Debug/netcoreapp3.1/Arvauspeli.runtimeconfig.json
DotNet/Arvauspeli/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DotNet/Arvauspeli/obj/Debug/netcoreapp3.1/Arvauspeli.dll
DotNet/Arvauspeli/obj/Debug/netcoreapp3.1/Arvauspeli.exe
DotNet/Arvauspeli/obj/Debug/netcoreapp3.1/Arvauspeli.genruntimeconfig.cache
DotNet/Arvauspeli/obj/Debug/netcoreapp3.1/Arvauspeli.pdb
